/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./app/styles/module/header.sass ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: black;
}
.header > p {
  font-size: 32px;
}
.header p, .header a {
  font-size: 16px;
  color: white;
}
.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.header div span {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.header div a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  transition: 0.4s;
}
.header div a .link-svg {
  transition: 0.4s;
}
.header div a:hover {
  color: lightblue;
}
.header div a:hover .link-svg {
  fill: lightblue;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./app/styles/module/home.sass ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px;
  flex: 1 0 auto;
}
.home h1 {
  font-size: 64px;
}
.home__data-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  gap: 1%;
}
.home__articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.home__users {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.home__users p {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  border-bottom: 1px dotted black;
  padding-bottom: 4px;
}
.home__articles, .home__users {
  width: 48%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
}
.home__any-data {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.home__any-data div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.home__any-data div input {
  border: 1px solid black;
  border-radius: 10px;
  width: 356px;
  padding: 12px;
  font-size: 16px;
}
.home__any-data div button {
  border: 1px solid black;
  padding: 8px;
  border-radius: 50%;
  aspect-ratio: 1;
  flex-shrink: 0;
  height: 100%;
  cursor: pointer;
}
.home__any-data div button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.home__any-data div button:active {
  background: rgba(0, 0, 0, 0.4);
}
.home__any-data span {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid black;
  font-size: 16px;
  color: gray;
  padding: 16px;
}
.home__any-data span hr {
  margin: 8px 0;
  border-top: 2px dotted black;
}
