/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./app/styles/module/header.sass ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: black;
}
.header > p {
  font-size: 32px;
}
.header p, .header a {
  font-size: 16px;
  color: white;
}
.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.header div span {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.header div a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  transition: 0.4s;
}
.header div a .link-svg {
  transition: 0.4s;
}
.header div a:hover {
  color: lightblue;
}
.header div a:hover .link-svg {
  fill: lightblue;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./app/styles/layout.sass ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  height: 100vh;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
}
html body {
  display: inherit;
  flex-direction: inherit;
  flex: 1 0 auto;
}
html main {
  display: flex;
  height: 100%;
  width: 100%;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./app/styles/module/articleCard.sass ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.article-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  max-height: 400px;
  transition: 0.4s;
  background: white;
}
.article-card h2 {
  font-size: 32px;
  color: gray;
  transition: inherit;
}
.article-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}
.article-card:hover {
  scale: 1.04;
}
.article-card:hover h2 {
  color: blue;
}
